MODE=development
NEXT_PUBLIC_STARDUST_WEB_URL=http://localhost:3000
NEXT_PUBLIC_STARDUST_SERVER_URL=http://localhost:3334

NEXT_PUBLIC_CDN_URL=http://127.0.0.1:9000/stardust

NEXT_PUBLIC_DISCORD_CHANNEL_URL=

NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=
NEXT_PUBLIC_POSTHOG_HOST=

INNGEST_SIGNING_KEY=
INNGEST_EVENT_KEY=

GOOGLE_ANALYTICS_ID=
