@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  font-weight: 400;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 1080px) {
  html,
  body {
    font-size: 94.75%;
  }
}

@media (max-width: 720px) {
  html,
  body {
    font-size: 90.5%;
  }
}

button {
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(1.1);
}

a {
  text-decoration: inherit;
}

.custom-outline:focus {
  outline: none;
  box-shadow: 0 0 0 4px #514869;
}

.monaco-alert {
  display: none !important;
  visibility: hidden !important;
}

.inline-code {
  @apply bg-green-900 text-gray-100 rounded-md py-1 px-2 font-code;
}

::-webkit-scrollbar {
  @apply w-[6px] rounded;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 w-[2px] h-3 rounded-md;
}

::-webkit-scrollbar-track {
  @apply bg-gray-700;
}
