@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  width: 100%;
  height: 100vh;

  font-weight: 400;
  @apply font-default;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 1080px) {

  html,
  body {
    font-size: 94.75%;
  }
}

@media (max-width: 720px) {

  html,
  body {
    font-size: 90.5%;
  }
}

button {
  cursor: pointer;
  transition: filter 0.2s;
}

a {
  text-decoration: inherit;
  transition: filter 0.2s;
}

a:hover,
button:hover {
  filter: brightness(1.1);
}

.custom-outline:focus {
  outline: none;
  box-shadow: 0 0 0 4px #514869;
}

.monaco-editor-overlaymessage {
  display: none !important;
}

.strong {
  @apply inline-block mx-1 rounded-md bg-gray-800 px-[10px] font-code text-gray-50;
}

.skeleton {
  @apply animate-pulse bg-gray-600 opacity-70;
}

::-webkit-scrollbar {
  @apply w-[6px] rounded;
}

::-webkit-scrollbar-thumb {
  @apply h-3 w-[2px] rounded-md bg-gray-400;
}

::-webkit-scrollbar-track {
  @apply bg-gray-700;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(140deg) brightness(95%) contrast(80%);
}
